[submodule "landmark_localization"]
	path = landmark_localization
	url = https://github.com/RyoFunai/landmark_localization.git
[submodule "pointcloud_processor"]
	path = pointcloud_processor
	url = https://github.com/RyoFunai/pointcloud_processor.git
[submodule "ball_detector"]
	path = ball_detector
	url = https://github.com/RyoFunai/ball_detector.git
